<h1>This is where you will gain some of the most valuable insight into nothing at all.</h1>

<div id="main">
    <p>
    	I really don't think that you came here expecting something clever, witty, eye-opening, or life-changing. So, I won't give you any of that. I just don't want anyone to accuse me of having not met their expectations. Instead I will sit here, or slouch, and spew out whatever tunnels it's way through my neural pathways. It might seem like an incoherent mess, because it is. If you're like me (a homo-sapien) then I really doubt that you have organized thoughts on a regular basis without injecting some good old fashioned, slightly vyvansed, concentration into your efforts. And, since I hate that kind of hard work, these writings will be a reflection of my pure and free-flowing thoughts which, to my original point, will be rather messy. Sorry, but I'm fresh out of vyvanse.
    </p>

    <p>
    	Don't stop looking up, it's just a rock. Interesting idea that if you are stuck in a position and a rock is thrown at your face, is it really better to turn your face so that the rock doesn't hit your nostrils? I guess it does. After all your nostrils are one of your two primary breathing apparatus. But it still doesn't change the fact that a rock is being thrown at your face - head - and in a few micro seconds you are going to be slightly discomforted. Perhaps, in turning away, it allows our imaginations a fraction of second to create an alternate reality where some celestial being intercepts the rock and prevents it from bruising our cranium.
    </p>
</div>