<!DOCTYPE html>

    <head>
    	<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    	<!--<script type=text/javascript src="{{url_for('static', filename='js/main.js') }}"></script>-->
    </head>
    <body>
    	<h1 class="center">Ahoy and Welcome!</h1>
    	<a href="/storytime">Story time</a>
    	<div id="main">
    		<p>It seems as though you stumbled onto my page. Whether this was intentional on your part, or if some ne'er do weller misled you here, I do hope you both stick, and poke, around. I promise that there isn't any harmful javascript running on this page, and that shouldn't change. Some stuff will be updated regularly, and some won't (sorry, we can't all get what we want). Hopefully, I'll be making this site look nicer as plain old html, while fast, is soooooo nineties.</p>

    		<p>My goal with this site is to provide a platform for some writing that I hope to be doing in the future. It probably won't be anything interesting and almost nothing that I write should be taken seriously. Although if you want to take it with a grain of salt, I promise that some of that will already be mixed in.</p>

            <p>In order to see the light, you must first face the darkness.</p>
    	</div>
    	<!--<a href="/css/main.css" download>download this!</a>-->
    </body>
